<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:include="_meta::common_meta">
    <!--/meta 作为公共模版分离出去-->
    <title>h-ui.admin.pro v1.0</title>
</head>
<body>
<!--_menu 作为公共模版分离出去-->
<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="/aboutHui.shtml">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">H-ui.admin</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <ul class="Hui-menu"></ul>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<!--/_menu 作为公共模版分离出去-->

<div class="Hui-admin-dislpayArrow">
    <a href="javascript:void(0);" onClick="displaynavbar(this)">
        <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
    </a>
</div>

<section class="Hui-admin-article-wrapper">


    <!--_header 作为公共模版分离出去-->
    <header class="Hui-navbar" th:include="_header::common_header"></header>
    <!--/_header 作为公共模版分离出去-->

    <div id="Hui-admin-tabNav" class="Hui-admin-tabNav">
        <div class="Hui-admin-tabNav-wp">
            <ul id="min_title_list" class="acrossTab clearfix" style="width: 241px; left: 0px;">
                <li class="active"><span title="我的桌面" data-href="welcome.html">我的桌面</span><em></em></li>
            </ul>
        </div>
        <div class="Hui-admin-tabNav-more btn-group" style="display: none;">
            <a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a>
            <a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a>
        </div>
    </div>

    <div id="iframe_box" class="Hui-admin-article">
        <div class="show_iframe">
            <iframe id="iframe-welcome" data-scrolltop="0" scrolling="yes" frameborder="0" th:replace="welcome::html"></iframe>
        </div>
    </div>
</section>
<div class="contextMenu" id="Huiadminmenu">
    <ul>
        <li id="closethis">关闭当前 </li>
        <li id="closeother">关闭其他 </li>
        <li id="closeall">关闭全部 </li>
    </ul>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:include="_footer :: common_js"></div>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{~/hotel-api/static/business/js/main.js}"></script>
<script th:inline="javascript">
    $(function () {
        var menuData = [[${menuData}]];
        menuData = JSON.parse(menuData);
        getMenu(menuData);
    });
</script>
</body>
</html>
