<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.hotel.dao.mapper.HotelTenantInfoMapper">
 <!-- <resultMap id="BaseResultMap" type="com.mybatis.generator.entity.HotelTenantInfo">
    &lt;!&ndash;
      WARNING - @mbg.generated
    &ndash;&gt;
    <id column="tenant_id" jdbcType="INTEGER" property="tenantId" />
  </resultMap>-->
</mapper>